html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lemonada', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: white;
  min-height: 100%;
}

input[type=date] {
  border-bottom: 0 !important;
  margin: 0 !important;
  padding: 0 10px !important;
}


.header {
  width: 100%;
  height: 100vh;
  /* background-image: url('assets/img/34.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px; 
  color: #000;
}

.header-btns {
  display: flex;
}

.navbar {
  background-image: linear-gradient(to right, rgb(63, 248, 103), rgb(77, 145, 247));
}

.navbar:hover {
  background-image: linear-gradient(to right, rgb(247, 73, 116), rgb(238, 118, 5));
}

.project-summary {
  width: 500px;
  height: 80px;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to bottom right, rgb(0, 202, 165), rgb(141, 1, 160)); */
}
.project-summary:hover {
  color: white
}

.project-list {
  margin: 30px 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.features {
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;
  height: 250px;
}

.features-quote {
  width: 50%;
  font-size: 28px;
  padding: 20px;
  color: black
}

.big-card {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-image: url('assets/img/3163.jpg');
  background-size: cover;
}

.newsletter-section {
  height: 500px;
  color: white;
  background-image: url('assets/img/watercolor1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.newest-section {
  height: auto;
  padding: 30px;
}

.collections-section {
  height: auto;
  color: white;
  padding: 30px;
  background-image: url('assets/img/watercolor3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.categories-section {
  height: 400px;
  color: white;
}

footer {
  background-color: #eeeded;
  /* background-image: linear-gradient(to bottom, rgb(0, 162, 202), rgb(2, 85, 133)); */
}

footer li {
 font-size: 11px;
 line-height: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  min-height: 80px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 0 20px
}

.footer-bottom p {
  font-size: 11px;
  padding: 0 10px;
}


form {
  padding: 20px;
  margin-top: 60px;
  background-color: transparent
}

form button, form h5 {
  margin: 20px 0
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: rgb(107, 2, 121);
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: rgb(107, 2, 121) !important;
}


/* loader */
.loader {
  margin: 300px auto;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ec7492, 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.5), -1.8em -1.8em 0 0em rgba(236,116,146, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.7), 1.8em -1.8em 0 0em #ec7492, 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.5), 1.8em -1.8em 0 0em rgba(236,116,146, 0.7), 2.5em 0em 0 0em #ec7492, 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.5), 2.5em 0em 0 0em rgba(236,116,146, 0.7), 1.75em 1.75em 0 0em #ec7492, 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.5), 1.75em 1.75em 0 0em rgba(236,116,146, 0.7), 0em 2.5em 0 0em #ec7492, -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.5), 0em 2.5em 0 0em rgba(236,116,146, 0.7), -1.8em 1.8em 0 0em #ec7492, -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.5), -1.8em 1.8em 0 0em rgba(236,116,146, 0.7), -2.6em 0em 0 0em #ec7492, -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.5), -2.6em 0em 0 0em rgba(236,116,146, 0.7), -1.8em -1.8em 0 0em #ec7492;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ec7492, 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.5), -1.8em -1.8em 0 0em rgba(236,116,146, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.7), 1.8em -1.8em 0 0em #ec7492, 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.5), 1.8em -1.8em 0 0em rgba(236,116,146, 0.7), 2.5em 0em 0 0em #ec7492, 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.5), 2.5em 0em 0 0em rgba(236,116,146, 0.7), 1.75em 1.75em 0 0em #ec7492, 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.5), 1.75em 1.75em 0 0em rgba(236,116,146, 0.7), 0em 2.5em 0 0em #ec7492, -1.8em 1.8em 0 0em rgba(236,116,146, 0.2), -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.5), 0em 2.5em 0 0em rgba(236,116,146, 0.7), -1.8em 1.8em 0 0em #ec7492, -2.6em 0em 0 0em rgba(236,116,146, 0.2), -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.5), -1.8em 1.8em 0 0em rgba(236,116,146, 0.7), -2.6em 0em 0 0em #ec7492, -1.8em -1.8em 0 0em rgba(236,116,146, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(236,116,146, 0.2), 1.8em -1.8em 0 0em rgba(236,116,146, 0.2), 2.5em 0em 0 0em rgba(236,116,146, 0.2), 1.75em 1.75em 0 0em rgba(236,116,146, 0.2), 0em 2.5em 0 0em rgba(236,116,146, 0.2), -1.8em 1.8em 0 0em rgba(236,116,146, 0.5), -2.6em 0em 0 0em rgba(236,116,146, 0.7), -1.8em -1.8em 0 0em #ec7492;
  }
}
